html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

b {
  color: #3e3b3f;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #fff  ;
  color: #3e3b3f;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove outline from focusable elements for mouse users only */
:focus:not(:focus-visible) {
  outline: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Include a width and height for images to avoid layout shifts */
img {
  width: 100%;
  height: auto;
}

/* Make sure the elements are rendered consistently */
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Make sure anchor tags don't receive focus when clicked */
a:focus {
  outline: none;
}

/* Navigation */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-line,
.bottom-line {
  height: 2px;
  background-color: #c45995;
}

.top-line {
  width: 100%;
  margin-bottom: 5px;
}

.bottom-line {
  width: 100%;
  margin-top: 5px;
}

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.branding {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.logo img {
  max-width: 200px;
  margin-right: 10px;
}


.nav-links {
  display: flex;
  margin: 20px 0px;
}

.link {
  font-size: 20px;
  margin-right: 20px;
  color: #3e3b3f;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c45995;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.link:hover {
  color: #c45995;
}

/* MainContent */

.main-content {
  position: relative;
  width: 100%; /* ширина равна 100% от видимой ширины окна */
  height: 70vh; /* высота равна 100% от видимой высоты окна */
  background-image: url('./img/header-bg-new.png'); /* путь к вашей фоновой картинке */
  background-size: cover; /* обеспечивает покрытие всей доступной области */
  background-position: center; /* центрирует картинку */
  display: flex;
  align-items: center; /* вертикальное выравнивание текста */
  justify-content: flex-start; /* горизонтальное выравнивание текста */
  font-family: "Roboto", sans-serif;
}

.overlay-text {
  width: 70%;
}

.main-text-wrap {
  padding: 87px 0 80px;
    position: relative;
    text-align: center;
}

.maincon-title {
  color: #ffffff;
    font-size: 68px;
    letter-spacing: 0.034em;
    font-weight: 400;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.maincon-sub-title {
  color: #dadada;
  font-size: 31px;
    font-weight: 500;
    padding-bottom: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.maincon-sub2-title {
  color: #dadada;
    font-size: 54px;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.text-color {
  color: #c45995;
}

.maincon-button {
  display: inline-block;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #c45995;
  color: black;
  border: 2px solid #c45995;
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.maincon-button:hover {
  background-color: transparent;
  color: #fff;
}

.stats-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 100px 0px 40px 0px;
}

.stats-section-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 40px 0;
}

.stat-item {
  margin: 20px 0;
}

.stat-number {
  font-size: 100px;
  color: #c45995;
  font-weight: 800;
  margin-bottom: 10px;
}

.stat-item-2 {
  margin-right: 100px;
}

.stat-number-2 {
  font-size: 134px;
  color: #c45995;
  font-weight: 800;
  margin-bottom: 10px;
}



.color-black {
  color: #000;
}

.stat-description {
  font-size: 18px;
  color: black;
  line-height: 1.5em;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 20px;
  text-align: center;
  box-sizing: border-box;
}

.title {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 30px;
  /* position: relative;
  display: inline-block; */
}

/* .title::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #ab1368;
  position: absolute;
  bottom: -7px;
  left: 0;
  box-sizing: border-box;
} */

.text {
  font-weight: 300;
  line-height: 1.5;
  font-size: 26px;
}

.sub-title {
  font-weight: 500;
  line-height: 1.5;
  font-size: 30px;
  text-align: start;
  padding-bottom: 30px;
}

.join-button {
  display: inline-block;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #c45995;
  color: white;
  border: 2px solid #c45995;
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s;
}

.join-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.for-section {
  /* background-color: #f0ece6; */
  padding: 100px 20px;
}

.for-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  color: #fff;
}

.for-title {
  font-size: 45px;
  text-transform: uppercase;
  color: #000;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}

.for-text-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.for-text-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.big-number {
  font-size: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #c45995;
  margin-right: 30px;
}

.for-text {
  max-width: 350px;
  font-size: 26px;
  font-weight: 500;
  text-align: start;
  color: #000;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.target-text {
  text-align: center;
  color: #000;
  font-size: 26px;
}

.target-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 135px 20px;
  text-align: center;
  box-sizing: border-box;
  background-image: url('./img/2.jpg');
  background-size: 680px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.target-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.target-title {
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 30px;
    color: #000;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8)
}

.custom-list {
  list-style-type: none; /* Убирает стандартные маркеры */
  padding-left: 0; /* Убирает отступ слева */
}

.custom-list li {
  background-image: url('./img/circle_5853933.png'); /* Укажите путь к вашему изображению */
  background-repeat: no-repeat; /* Не повторять изображение */
  background-position: 0 50%; /* Позиция изображения слева от текста, вертикально по центру */
  background-size: 20px 20px; /* Размеры изображения */
  padding-left: 30px; /* Отступ текста от изображения */
  margin-bottom: 10px; /* Отступ между элементами списка */
  font-weight: 300;
  font-size: 26px;
  line-height: 1.6;
  text-align: start;
}

/* .custom-list {
  list-style: none;
}

.custom-list li {
  position: relative;
  margin-bottom: 15px;
  line-height: 1.1;
  padding-left: 30px;
  font-weight: 300;
  color: #000;
  text-align: start;
  font-size: 26px;
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: #ab1368;
  border-radius: 50%;
} */

.partner-images {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.partner-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

}

.partner-image {
  width: 200px;
  height: auto;
  margin: 10px;
}

.nomination-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./img/5599064.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 20px;
  text-align: center;
  box-sizing: border-box;
}

.rating-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./img/rating-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 20px;
  text-align: center;
  box-sizing: border-box;
}

/* Contacts */

.contacts-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 0;
}

.contacts-title {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
  color: black;
  margin: 0 0 50px 0;
  border-bottom: 3px solid #ab1368;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.contact-item {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.contact-item img {
  width: 60px; /* размер иконки */
  margin-bottom: 15px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info strong {
  font-size: 20px;
}

.contact-info p {
  font-size: 18px;
  color: #333;
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-item {
    margin-bottom: 20px;
  }
}

/* Footer */

.footer {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-logo img {
  width: 150px;
  margin-bottom: 15px;
}

.footer-logo p {
  max-width: 350px; /* Ширина описания под логотипом */
  font-size: 18px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .footer-logo p {
    text-align: center;
  }
}
