html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

b {
  color: #3e3b3f;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #fff  ;
  color: #3e3b3f;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove outline from focusable elements for mouse users only */
:focus:not(:focus-visible) {
  outline: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Include a width and height for images to avoid layout shifts */
img {
  width: 100%;
  height: auto;
}

/* Make sure the elements are rendered consistently */
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Make sure anchor tags don't receive focus when clicked */
a:focus {
  outline: none;
}

/* Navigation */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-line,
.bottom-line {
  height: 2px;
  background-color: #c45995;
}

.top-line {
  width: 100%;
  margin-bottom: 5px;
}

.bottom-line {
  width: 100%;
  margin-top: 5px;
}

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.branding {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.logo img {
  max-width: 200px;
  margin-right: 10px;
}


.nav-links {
  display: flex;
  margin: 20px 0px;
}

.link {
  font-size: 20px;
  margin-right: 20px;
  color: #3e3b3f;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c45995;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.link:hover {
  color: #c45995;
}

/* MainContent */

.main-content {
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url('./img/header-bg-new.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
}

.overlay-text {
  width: 70%;
}

.main-text-wrap {
  padding: 87px 0 80px;
    position: relative;
    text-align: center;
}

.maincon-title {
  color: #ffffff;
    font-size: 68px;
    letter-spacing: 0.034em;
    font-weight: 400;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.maincon-sub-title {
  color: #dadada;
  font-size: 31px;
    font-weight: 500;
    padding-bottom: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.maincon-sub2-title {
  color: #dadada;
    font-size: 54px;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.text-color {
  color: #c45995;
}

.maincon-button {
  display: inline-block;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #c45995;
  color: black;
  border: 2px solid #c45995;
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.maincon-button:hover {
  background-color: transparent;
  color: #fff;
}

.stats-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 100px 0px 40px 0px;
}

.stats-section-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 40px 0;
}

.stat-item {
  margin: 20px 0;
}

.stat-number {
  font-size: 100px;
  color: #c45995;
  font-weight: 800;
  margin-bottom: 10px;
}

.stat-item-2 {
  margin-right: 100px;
}

.stat-number-2 {
  font-size: 134px;
  color: #c45995;
  font-weight: 800;
  margin-bottom: 10px;
}



.color-black {
  color: #000;
}

.stat-description {
  font-size: 18px;
  color: black;
  line-height: 1.5em;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 20px;
  text-align: center;
  box-sizing: border-box;
}

.title {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 30px;
}

.text {
  font-weight: 300;
  line-height: 1.5;
  font-size: 26px;
}

.sub-title {
  font-weight: 500;
  line-height: 1.5;
  font-size: 30px;
  text-align: start;
  padding-bottom: 30px;
}

.join-button {
  display: inline-block;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #c45995;
  color: white;
  border: 2px solid #c45995;
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s;
}

.join-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.for-section {
  /* background-color: #f0ece6; */
  padding: 100px 20px;
}

.for-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.for-title {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}

.for-text-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.for-text-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.big-number {
  font-size: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #c45995;
  margin-right: 30px;
}

.for-text {
  max-width: 350px;
  font-size: 26px;
  font-weight: 500;
  text-align: start;
  color: #000;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.target-text {
  text-align: center;
  color: #000;
  font-size: 26px;
}

.target-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 135px 20px;
  text-align: center;
  box-sizing: border-box;
  background-image: url('./img/2.jpg');
  background-size: 680px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.target-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.target-title {
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 30px;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8)
}

.custom-list {
  list-style-type: none;
  padding-left: 0;
}

.custom-list li {
  background-image: url('./img/circle_5853933.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 20px 20px;
  padding-left: 30px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 26px;
  line-height: 1.6;
  text-align: start;
}

.gallery-con {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  gap: 15px;
  padding: 0px 15px 100px 15px;
}

.gallery-card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-title {
  text-align: center;
}

/* .custom-list {
  list-style: none;
}

.custom-list li {
  position: relative;
  margin-bottom: 15px;
  line-height: 1.1;
  padding-left: 30px;
  font-weight: 300;
  color: #000;
  text-align: start;
  font-size: 26px;
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: #ab1368;
  border-radius: 50%;
} */

.partner-images {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.partner-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

}

.partner-image {
  width: 200px;
  height: auto;
  margin: 10px;
}

.nomination-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./img/5599064.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 20px;
  text-align: center;
  box-sizing: border-box;
}

.rating-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./img/rating-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 20px;
  text-align: center;
  box-sizing: border-box;
}

/* Position */

.position-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./img/position-bg.jpg');
  background-size: 880px auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 20px;
  text-align: center;
  box-sizing: border-box;
}

.position-title {
  font-size: 35px;
  text-transform: uppercase;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: start;
  margin-bottom: 30px;
}

.position-text {
  font-weight: 300;
  line-height: 1.5;
  font-size: 26px;
  text-align: start;
  margin-bottom: 15px;
}

.position-cont {
  padding: 50px 0px 35px 0px;
}

/* Jury */

.jury-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./img/jury-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 230px 20px;
  text-align: center;
  box-sizing: border-box;
}



.jurycon-text-wrap {
  padding: 80px 0 80px;
    position: relative;
    text-align: center;
}

.jurycon-title {
  color: #ffffff;
    font-size: 68px;
    letter-spacing: 0.034em;
    font-weight: 400;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.jurycon-sub-title {
  color: #fff;
  font-size: 31px;
    font-weight: 500;
    padding-bottom: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.jurycon-sub2-title {
  color: #fff;
    font-size: 54px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.jury-list {
  list-style-type: none;
  padding-left: 0;
}

.jury-list li {
  background-image: url('./img/circle_5853933.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 25px 25px;
  padding-left: 40px;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 26px;
  line-height: 1.6;
  text-align: start;
}

.jury-sub-title {
  font-weight: 500;
  line-height: 1.5;
  font-size: 30px;
  padding-bottom: 30px;
}

.jury-con {
  display: flex;
  flex-direction: column;
}

.jury-profile {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  padding: 20px;

}

.jury-profile-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.jury-profile img {
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
  float: left;
}

.jury-profile-card h3 {
  font-size: 28px;
  color: #333;
  font-size: 400;
  text-transform: uppercase;
  padding-bottom: 30px;
}



.jury-details-list {
  list-style-type: none;
  padding-left: 0;
}

.jury-details-list li {
  background-image: url('./img/circle_5853933.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 15px 15px;
  padding-left: 30px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.6;
  text-align: start;
}



/* Winners */

.win{
  margin: 100px 0px;
  text-align: center;
}

.winners-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./img/winners-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 230px 20px;
  text-align: center;
  box-sizing: border-box;
}

.winners-title {
  display: flex;
  justify-content: center;
  font-size: 45px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 30px;
}

.winners-title img{
  width: 60px;
  margin-left: 15px;
}

.win-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.win-card {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.win-title {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 15px;

}

.win-sub-title {
  font-size: 35px;
  font-weight: 300;
  text-transform: none;
  color: #000;
  text-shadow:none;
}

#first-place {
  color: #ee88c2;

}

#second-place {
  color: #d275a5;

}

#third-place {
  color: #ba5d87;

}

.winners-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

.winners-buttons button {
  background-color: #ee88c2;
  color: black;
  border: 2px solid #ee88c2;
  opacity: 0.9;
  padding: 15px 30px;
  margin: 0 10px;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.winners-buttons button:hover {
  background-color: transparent;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2)
}


/* Contacts */

.contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0px 0px 0px;
}

.contacts-title {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
  color: black;
  margin: 0 0 50px 0;
  border-bottom: 3px solid #c45995;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.contact-item {
  flex-direction: column;
  display: flex;
  align-items: center;
  max-width: 150px;
}

.contact-item img {
  width: 60px;
  margin-bottom: 15px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info strong {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 15px;
}

.contacts-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}

.contact-info p {
  display: block;
  font-size: 22px;
  color: #333;
  text-align: center;
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-item {
    margin-bottom: 20px;
  }
}

/* Footer */

.footer {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-logo img {
  width: 150px;
  margin-bottom: 15px;
}

.footer-logo p {
  max-width: 350px;
  font-size: 20px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
}

.footer-section p img {
  width: 28px;
  margin-right: 10px;
}

.footer-section p{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-link {
  font-size: 20px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: #000;
  margin-bottom: 20px;
  display: inline-block;
}


.footer-link:hover {
  color: #c45995;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .footer-logo p {
    text-align: center;
  }
}
